<h1 class="name">{{name}}</h1>
<hr>

<h2 class="section-title">{{title1}}</h2>
<hr>
<table class="info-table">
  <tr>
    <th>Age:</th>
    <td>{{age}}</td>
  </tr>
  <tr>
    <th>Gender:</th>
    <td>{{gender}}</td>
  </tr>
  <tr>
    <th>Date of Birth:</th>
    <td>{{date_of_birth}}</td>
  </tr>
  <tr>
    <th>Place of Birth:</th>
    <td>{{place_of_birth}}</td>
  </tr>
  <tr>
    <th>Contact No:</th>
    <td>{{contact_number}}</td>
  </tr>
  <tr>
    <th>Baguio Address:</th>
    <td>{{address}}</td>
  </tr>
</table>

<h2 class="section-title">{{title2}}</h2>
<hr>
<table class="edu-table">
  <tr>
    <th>College</th>
    <td [innerHTML]="college"></td>
  </tr>
  <tr>
    <th>High School</th>
    <td [innerHTML]="highschool"></td>
  </tr>
  <tr>
    <th>Elementary</th>
    <td [innerHTML]="elemntary"></td>
  </tr>
</table>

<h2 class="section-title">{{title3}}</h2>
<hr>
<table class="awards-table">
  <tr>
    <th>Champion</th>
    <td [innerHTML]="champion"></td>
  </tr>
  <tr>
    <th>First Runner-Up</th>
    <td [innerHTML]="award"></td>
  </tr>
  <tr>
    <th>Second Runner-Up</th>
    <td [innerHTML]="second_runner_up"></td>
  </tr>
</table>

<h2 class="section-title">{{title4}}</h2>
<hr>
<ul>
  <li>{{talent}}</li>
</ul>
<hr>
